<br>
<div class="jumbotron" align="center">
  <h1>Welcome to Blocipedia</h1>
  <p id="index-title">This is the home page for Blocipedia.</p>
  <h4>
 <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %> or
 <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %> today!
 </h4>
</div>
